In [1]:
import requests
import json
import pandas as pd
import numpy as np
import datetime

In [2]:
def get_urls(start_epoch, end_epoch):
    curr_start = start_epoch
    one_day = 86400
    ret = []
    # can only do 500 results
    while curr_start < end_epoch:
        temp_end = min(end_epoch, curr_start + (one_day * 300))
        url = f"https://poloniex.com/public?command=returnChartData&currencyPair=USDT_ETH&start={curr_start}&end={temp_end}&period=86400"
        ret.append(url)
        curr_start = temp_end
    return ret

# from 2015 to 2020 since USDT came out in 2014

In [3]:
urls = get_urls(int(datetime.datetime(2016, 1, 1, 0, 0, 0).strftime("%s")), int(datetime.datetime(2021, 12, 31, 23, 59, 59).strftime("%s")))   # 6 years from 2016 to 2021

df = None
for url in urls:
    req = requests.get(url)
    json_resp = json.loads(req.text)
    if df is None:
        df = pd.json_normalize(json_resp)
    else:
        df = pd.concat([df, pd.json_normalize(json_resp)])

df

['https://poloniex.com/public?command=returnChartData&currencyPair=USDT_BTC&start=1451635200&end=1477555200&period=86400', 'https://poloniex.com/public?command=returnChartData&currencyPair=USDT_BTC&start=1477555200&end=1503475200&period=86400', 'https://poloniex.com/public?command=returnChartData&currencyPair=USDT_BTC&start=1503475200&end=1529395200&period=86400', 'https://poloniex.com/public?command=returnChartData&currencyPair=USDT_BTC&start=1529395200&end=1555315200&period=86400', 'https://poloniex.com/public?command=returnChartData&currencyPair=USDT_BTC&start=1555315200&end=1581235200&period=86400', 'https://poloniex.com/public?command=returnChartData&currencyPair=USDT_BTC&start=1581235200&end=1607155200&period=86400', 'https://poloniex.com/public?command=returnChartData&currencyPair=USDT_BTC&start=1607155200&end=1633075200&period=86400', 'https://poloniex.com/public?command=returnChartData&currencyPair=USDT_BTC&start=1633075200&end=1641023999&period=86400']

,date,high,low,open,close,volume,quoteVolume,weightedAverage
0,1451692800000,438.13,430.50,434.98,436.94,2.179981200000000000,944.853289360000000000,433.422677840000000000
1,1451779200000,435.61,426.45,432.31,428.14,1.596348950000000000,683.918470000000000000,428.426673250000000000
2,1451865600000,435.99,427.29,427.29,432.00,1.673427630000000000,724.976004450000000000,433.228178770000000000
3,1451952000000,435.99,429.56,430.14,430.37,0.992530020000000000,427.647283090000000000,430.865842310000000000
4,1452038400000,434.99,427.29,430.17,427.50,1.903357970000000000,819.344827130000000000,430.473321380000000000
...,...,...,...,...,...,...,...,...
88,1640649600000,50697.57,47308.43,50695.03,47544.75,432.980600260000000000,21128112.575152080000000000,48796.903515910000000000
89,1640736000000,48127.44,46103.90,47557.33,46467.99,223.299514290000000000,10560490.824254680000000000,47292.941311720000000000
90,1640822400000,47891.15,45931.10,46446.19,47123.57,329.606173740000000000,15554828.169517630000000000,47192.162674070000000000
91,1640908800000,48550.00,45680.00,47116.34,46203.93,565.892259920000000000,26757384.534483720000000000,47283.531565290000000000
92,1640995200000,47927.69,46202.84,46202.84,47725.86,311.611522340000000000,14699209.159235150000000000,47171.584185500000000000

In [4]:
df = df.astype({
    "high": np.float64,
    "low": np.float64,
    "open": np.float64,
    "close": np.float64,
    "volume": np.float64,
    "quoteVolume": np.float64,
    "weightedAverage": np.float64
})
df.dtypes

date                object
high               float64
low                float64
open               float64
close              float64
volume             float64
quoteVolume        float64
weightedAverage    float64
dtype: object

In [5]:
df

,date,high,low,open,close,volume,quoteVolume,weightedAverage
0,1451692800000,438.13,430.50,434.98,436.94,2.179981,9.448533e+02,433.422678
1,1451779200000,435.61,426.45,432.31,428.14,1.596349,6.839185e+02,428.426673
2,1451865600000,435.99,427.29,427.29,432.00,1.673428,7.249760e+02,433.228179
3,1451952000000,435.99,429.56,430.14,430.37,0.992530,4.276473e+02,430.865842
4,1452038400000,434.99,427.29,430.17,427.50,1.903358,8.193448e+02,430.473321
...,...,...,...,...,...,...,...,...
88,1640649600000,50697.57,47308.43,50695.03,47544.75,432.980600,2.112811e+07,48796.903516
89,1640736000000,48127.44,46103.90,47557.33,46467.99,223.299514,1.056049e+07,47292.941312
90,1640822400000,47891.15,45931.10,46446.19,47123.57,329.606174,1.555483e+07,47192.162674
91,1640908800000,48550.00,45680.00,47116.34,46203.93,565.892260,2.675738e+07,47283.531565
92,1640995200000,47927.69,46202.84,46202.84,47725.86,311.611522,1.469921e+07,47171.584186

In [8]:
df['date'] = pd.to_datetime(df['date'], unit='ms')
df = df.drop_duplicates(subset=["date"])
df = df.set_index("date")
df.to_csv("ETH_USDT_D.csv")